<footer class="footer">
    <div class="footer-wrap">
        {{!-- Widget Social Media - partials/widget/social-media.hbs --}}
        {{> "widget/social-media"}}

        {{!-- copy --}}
        <p class="footer-copy">
            &copy; {{date format="YYYY"}} <a href="{{@site.url}}">{{@site.title}}</a>
            Design with <3 by <a href="https://godofredo.ninja" title="Developer FullStack.">@GodoFredoNinja</a>
        </p>
    </div>
</footer>