<footer class="footer">
    <div class="footer-wrap">
        {{!-- Footer Menu --}}
        {{#if @site.secondary_navigation}}
            <nav class="footer-menu">
                {{navigation type="secondary"}}
            </nav>
        {{/if}}

        {{!-- copy --}}
        <p class="footer-copy">
            &copy; {{date format="YYYY"}} <a href="{{@site.url}}">{{@site.title}}</a>
            Design with <svg class="icon icon--heart icon--red" style="height:15px;width:15px"><use xlink:href="#icon-heart"></use></svg> by <a href="https://godofredo.ninja" title="Developer">GodoFredo</a>
        </p>
    </div>
</footer>