<div class="rimay-wrap">
    <div class="rimay-content">
        {{!-- Title For Tag Page --}}
        {{#is "tag"}}<h1 class="rimay--title">{{#tag}}{{name}}{{/tag}}</h1>{{/is}}

        <div class="story-feed">
            <div class="story-feed-content">
                {{!-- story - partials/story/story.hbs --}}
                {{#foreach posts}} {{> "story/story"}} {{/foreach}}
            </div>
        </div>
        {{!-- Load More - pagination --}}
        <a href="#" class="js-load-more load-more u-pointer u-hide" aria-label="{{t "Load More"}}"><span class="gradient-text gradient-text--green">{{t "Load More"}}</span></a>
    </div>

    {{!-- sidebar - partials/sidebar/sidebar.hbs --}}
    {{> "sidebar/sidebar"}}
</div>