<button class="js-load-more load-more u-pointer u-hide">
    <span class="gradient-text gradient-text--primary">{{t "Load More"}}</span>
    <svg class="icon icon--loader"><use xlink:href="#icon-loader"></use></svg>
</button>