{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div class="content-wrap">
    <div class="content">
        <div class="rimay-paway">
            {{!-- First Post Large in Home Page --}}
            {{> "home/home-primary-story"}}

            {{!-- Featured Post in Home Page --}}
            {{> "home/home-featured-story"}}
        </div>
    </div>

    {{!-- Sidebar --}}
    {{> "sidebar/sidebar-home-top"}}
</div>

{{!-- Loop Story partials/loop.hbs --}}
{{> "loop"}}