{{!< default}}

{{!-- Class for <body> --}}
{{#contentFor "special_body_class"}}is-article{{/contentFor}}

<div class="content-wrap">
    <div class="content">
        {{!-- Article - partials/article/article.hbs --}}
        {{#post}} {{> "article/article"}} {{/post}}
    </div>

    {{!-- sidebar - partials/sidebar/sidebar.hbs --}}
    {{> "sidebar/sidebar"}}
</div>

{{!-- Article Related - partials/article/related.hbs --}}
{{> "article/related"}}