{{!< default}}

{{!-- Class for <body> --}}
{{#contentFor "special_body_class"}}is-article{{/contentFor}}

{{!-- Ads large in the header page--}}
{{> "ads/ad-lg-header"}}

{{#post}}

<div class="rimay-wrap">
    <div class="rimay-content">
        {{!-- Article - partials/article/article.hbs --}}
        {{> "article/article"}}
    </div>

    {{!-- sidebar - partials/sidebar/sidebar.hbs --}}
    {{> "sidebar/sidebar"}}
</div>

{{/post}}

{{!-- Article Related - partials/article/related.hbs --}}
{{#if post.tags}}{{> "article/related"}}{{/if}}


{{!-- {{> "widget/instagram-feed"}} --}}