.godo-a{
  text-align: center;
  padding: 10px 0;
  position: relative;
}

.godo-a > * {
  margin: auto;
  display: block;
  max-width: 100%;
}

body.is-image .godo-a-lg {
  background-color: #000;
  border-bottom: 0;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: -100%;
    bottom: 0;
    left: -250px;
    background-color: #000;
    z-index: -1;
  }
}

@media #{$lg-and-up} {
  .godo-a-lg {
    border-bottom: 2px solid #f1f1f1;
    // width: calc(100% - 220px);
    // left: 210px;

    margin-left: 210px;
    width: calc(100vw - 210px);
    margin-top: 0;
  }
}

@media #{$xl-and-up} {
  .godo-a-lg {
    margin-left: 250px;
    width: calc(100vw - 250px);
  }
}

