// Buttons

.button {
  font-family: $primary-font;
  box-sizing: border-box;
  color: $button-color;
  cursor: pointer;
  border: 2px solid transparent;
  display: inline-block;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  height: $button-height;
  letter-spacing: 0;
  line-height: $button-height - 4;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  transition: .1s background-color, .1s border-color, .1s color, .1s fill;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:focus { outline: none }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 3px;
    height: 8px;
    width: 80%;
    left: 10%;
    filter: blur(10px);
    transition: opacity .2s ease-in-out;
    opacity: 0;
  }

  &:hover::after { opacity: 1 }

  .icon {
    position: relative;
    top: -2px
  }

  &.button--primary {
    @extend %gradient-primary--border;

    background: linear-gradient(286deg, $primary-gradient);
    border-image-source: linear-gradient(286deg, $primary-gradient);
    color: #fff;

    &::after {
      background: linear-gradient(286deg, $primary-gradient);
    }
  }

  &.button--primary-line {
    @extend %gradient-text--primary;
    @extend %gradient-text;
    @extend %gradient-primary--border;

    // border-color: #00a562;
    // border-image-slice: 1;
    // border-image-source: linear-gradient(79deg, $primary-gradient);
    color: $primary-color;

    &:hover {
      -webkit-text-fill-color: #fff;
      background: linear-gradient(286deg, $primary-gradient);
      border-image-source: linear-gradient(286deg, $primary-gradient);
      color: #fff;
    }
  }

  &--black {
    background-color: #000;
    color: #fff;

    &:hover::after { background-color: #000 }
  }

  &--large {
    line-height: 1.5;
    padding: 17px 30px;
    height: auto;
    font-size: 18px;
  }
}

.buttonSet {
  > .button {
    margin-right: 8px;
    margin-bottom: 8px;
    vertical-align: middle;

    &:last-child { margin-right: 0 }
  }
}
