.load-more {
  @extend %primary-font;

  font-size: 2.2rem;
  color: $primary-color;
  line-height: 1.09;
  letter-spacing: -.7px;
  // font-family: $primary-font;
  font-weight: 800;
  text-align: center;
  border: 0;
  border-top: 2px solid #f1f1f1;
  padding: 1em 0;
  width: 100%;
  transition: background-color .2s ease;
  background-color: transparent;
  display: block;
  margin-top: 2rem;

  &:hover {
    cursor: pointer;
    background-color: #f1f1f1;
  }
}
