// Meta tags Global for story and post { author - tag - date }
// ==========================================================================
.u-meta {
  @extend %primary-font;

  margin: 10px 0;
  color: #333;

  &-time {
    margin-right: .8em;
    color: #777;
  }
}

// Primary story Home page Top Left large
// ==========================================================================
.primary-post {
  &:hover { opacity: .7; }
  &-figure { height: 250px }
}

// Featured Post Home page right
// ==========================================================================
.mini-post {
  margin-bottom: 1em;
  border-bottom: 1px solid #ddd;

  &:hover { opacity: .7 }

  &-title {
    margin-top: 0;
    margin-bottom: .25em;
    color: #000;
  }

  &:last-child { border-bottom: none }
}

// Story Global
// ==========================================================================
.story {
  margin: 1em 0 1.5em;
  padding-top: 1.5em;
  border-top: 2px solid #f1f1f1;
  justify-content: space-between;
  transition: all .2s ease .1s;

  &:hover {
    opacity: .6;
    cursor: pointer;
  }

  // header
  &-header { flex-basis: 69% }

  // body
  &-body {
    font-size: 14px;
    font-size: .875rem;
    flex-basis: 67.5%;
    flex-shrink: 0;
    display: block;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.43;
    color: #777;
  }

  // footer
  &-footer { flex-basis: 29% }
  &-media { padding-bottom: 70% }

  // title
  &-title {
    // font-size: 1.375rem;
    // cursor: pointer;
    margin-top: 0;
    margin-bottom: .25em;
    font-weight: 900;
    line-height: 1.09;
    letter-spacing: -.7px;
    color: #000;
  }
}

@media #{$md-and-up} {
  .primary-post {
    &-title {
      font-size: 3rem;
      line-height: 1.1;
    }
  }

  // Story
  .story {
    &-header {
      flex-basis: 28%;
      min-width: 0;
      flex-grow: 0;
    }

    &-body { flex-basis: 32% }
    &-footer { flex-basis: 31% }
    &-title { margin-bottom: 10px }
  }
}

@media #{$lg-and-up} {
  .mini-post-title {
    font-size: 1.25rem;
    margin-bottom: .3em;
    line-height: 1.05;
    letter-spacing: -.5px;
  }

  // story
  .story-body { font-size: 20px }
  .story-title { font-size: 26px }
}

@media #{$xl-and-up} {
  .mini-post-title { font-size: 1.875rem }
  .story-title { font-size: 2.3rem }
}
