// Meta tags Global for story and post { author - tag - date }
// ==========================================================================
.u-meta {
  @extend %primary-font;

  margin: 10px 0;
  color: #333;

  a { padding: 2px 3px; display: inline-block }

  &-time {
    margin-right: .8em;
    color: $primary-color-gray;
  }
}

// Primary story Home page Top Left large
// ==========================================================================
.primary-post {
  &:hover { opacity: .7; }
  &-figure { height: 250px }
}

// Featured Post Home page right
// ==========================================================================
.mini-post {
  margin-bottom: 1em;
  border-bottom: 1px solid #ddd;

  &:hover { opacity: .7 }

  &-title {
    margin-top: 0;
    margin-bottom: .25em;
    color: #000;
    letter-spacing: -.02em;
  }

  &:last-child { border-bottom: none }
}

// Story Global
// ==========================================================================
.story {
  margin: 1em 0 1.5em;
  padding-top: 1.5em;
  border-top: 2px solid #f1f1f1;
  justify-content: space-between;
  transition: all .2s ease .1s;

  &:hover {
    opacity: .6;
    cursor: pointer;
  }

  // header
  &-header { flex-basis: 69% }

  // body
  &-body {
    font-size: 1rem;
    flex-basis: 67.5%;
    flex-shrink: 0;
    display: block;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.4;
    color: $primary-color-gray;
  }

  // footer
  &-footer { flex-basis: 29% }
  &-media { padding-bottom: 70% }

  // title
  &-title {
    margin-top: 0;
    margin-bottom: .25em;
    line-height: 1.1;
    letter-spacing: -.02em;
    color: #000;
  }

  // is Featured or has video or image
  &.story--featured {
    .story-footer { order: -1; margin-bottom: 15px }

    .story-footer,
    .story-header { flex-basis: 100% }

    .story-body { flex-basis: 0; margin: 15px 0 }
    .story-media { padding-bottom: 50% }
  }
}

@media #{$md-and-up} {
  .primary-post-title { font-size: 2.5rem }

  .icon--play {
    padding: 18px;
    width: 64px;
    height: 64px;
  }

  // Story
  .story {
    &-header {
      flex-basis: 28%;
      min-width: 0;
      flex-grow: 0;
    }

    &-body { flex-basis: 32% }
    &-footer { flex-basis: 31% }
    &-title { margin-bottom: 10px }

    // is Featured or has video or image
    &.story--featured {
      .story-header { flex-basis: 28% }

      .story-footer {
        order: 2;
        margin-bottom: 0;
        flex-basis: 67.5%;
      }
    }
  }
}

@media #{$lg-and-up} {
  .mini-post-title {
    font-size: 1.25rem;
    margin-bottom: .3em;
    line-height: 1.05;
    // letter-spacing: -.5px;
  }
}

@media #{$xl-and-up} {
  .mini-post-title { font-size: 28px }
  .story-title { font-size: 2.3rem }
  .story-body { font-size: 1.25rem }
  .story-media { padding-bottom: 60% }
  .primary-post-figure { height: 340px }
}
