// Article newsletter
// ==========================================================================
.newsletter {
  border-top: 2px solid #ddd;
  margin-bottom: 40px;
  padding-top: 15px;

  &-title {
    font-size: 28px;
    font-weight: 900;
  }

  &-label {
    margin-top: 15px;
    margin-bottom: 20px;
    display: block;
    color: $primary-color-gray;
  }

  &-form {
    justify-content: space-between;
  }

  .form-group {
    flex-basis: calc(100% - 130px);
  }

  .button {
    flex-basis: 120px;
    margin: 0;
    height: 50px;
    padding: 12px 0;
    cursor: pointer;
    font-size: 1.125rem;
  }
}

.subscribe-input {
  background: #fff;
  border: 0;
  color: #303030;
  display: block;
  height: 48px;
  line-height: 1.5;
  margin: 0;
  outline: none;
  padding: 8px 10px;
  position: relative;
  transition: box-shadow .08s ease-in, color .08s ease-in;
  width: 100%;
  box-shadow: 0 0 0 1px rgba(50, 50, 93, .1), 0 2px 5px 0 rgba(50, 50, 93, .05), 0 1px 1px 0 rgba(0, 0, 0, .05);

  &:focus {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 1px 0 rgba(0, 0, 0, .05), 0 0 0 4px rgba(0, 0, 0, .1);
  }
}

// Media query
// ==========================================================================
@media #{$xl-and-up} {
  .newsletter {
    &-wrap {
      display: flex;
      justify-content: space-between;
    }

    &-title {
      display: flex;
      padding-right: 20px;
      flex-basis: 250px;
      font-size: 2rem;
      text-align: right;
    }

    &-right { flex-basis: 67.5% }
  }
}
