<aside id="comments" class="js-comments comments u-fontSizeSmall u-marginTop30">
    <div class="comments-wrap">
        <div class="comments-body">
            <div class="fb-comments" data-href="{{url absolute="true"}}" data-width="100%" data-numposts="5"></div>
        </div>
    </div>
</aside>

{{#contentFor "scripts"}}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v4.0"></script>
{{/contentFor}}