<div class="block--comment u-marginTop30 u-marginBottom20 u-textAlignCenter">
    <button class="button button--green button--secondary">
        {{t "View Comments"}} <span class="js-comments-count">(0)</span>
    </button>
</div>