{{#get "posts" limit="6" filter="tags:[{{post.tags}}]+id:-{{post.id}}" include="tags" as |post_related|}}
{{#if post_related}}

<div class="rimay-wrap u-marginTop30">
    <div class="rimay-content">
        <h2 class="rimay-home--title u-fontSize22">{{t "Related Post"}}</h2>

        <div class="story-feed">
            <div class="story-feed-content">
                {{!-- story - partials/story/story.hbs --}}
                {{#foreach post_related}} {{> "story/story"}} {{/foreach}}
            </div>
        </div>
    </div>

    {{!-- sidebar - partials/sidebar/sidebar-related.hbs --}}
    {{> "sidebar/sidebar-related"}}
</div>

{{/if}}
{{/get}}