*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  // font-size: $font-size-root;
  font-size: 16px;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  // font-weight: 400;
  font-family: $secundary-font;
  // color: $primary-text-color;
  // font-size: $font-size-base;
  // font-style: normal;
  font-size: 1rem;
  line-height: 1.5;

  overflow-x: hidden;
  margin: 0 auto;
  letter-spacing: 0;
}

li a, figcaption a, p a {
  transition: color, border-color 0.2s linear;

  color: $primary-color;
  border-bottom: 1px solid transparent;
}

a,
li a,
p a {
  text-decoration: none;
}

li a:focus,
li a:hover,
p a:focus,
p a:hover {
  border-bottom-color: #00a562;
}

ul, ol { margin: 0 }

svg {
  fill: currentColor;

  &:not(:root) {
    overflow: hidden;
  }
}

img {
  width: auto;
  max-width: 100%;
  height: auto;

  vertical-align: middle;

  &:not([src]) {
    visibility: hidden;
  }
}

figure {
  margin: 0;
}

figcaption {
  margin-top: 10px;
  font-size: .8em;
  font-style: italic;
}

button, input { overflow: visible }

// Buttons
button, input, select, textarea {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

blockquote {
  border-left: 5px solid $primary-color;
  color: #000;
  font-size: 1.375rem;
  // font-weight: 700;
  line-height: 1.5;
  margin: 2.5rem 0 0.9375rem 0 !important;
  padding-bottom: 2px;
  padding-left: 20px;
  font-family: Georgia, serif;
  p:first-of-type { margin-top: 0 }
  // a { background-position: 0 1.07em !important } //stylelint-disable-line
}

// hr
// ==========================================================================
hr {
  margin: 40px auto 10px !important;
  height: 1px;
  background-color: #ddd;
  border: 0;
  max-width: 100%;
}

// text
.text--green { color: $primary-color }

// icon
.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;

  &--md {
    height: 24px;
    width: 24px;
  }

  &--gray { color: #ddd }
  &--black { color: #000 }
  &--white { color: #fff }
}

// Rimay Class
// ==========================================================================
.rimay--title {
  font-size: 7rem;
  margin: 15px 0;
  letter-spacing: -.6px;
  font-weight: 900;
}

// Instagram
// ==========================================================================
.instagram {
  margin-top: 80px;

  &-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1 auto;
  }

  .icon {
    height: 24px;
    width: 24px;
  }

  &-col {
    flex: 0 0 auto;
    flex-basis: 16.66667%
    // flex-basis: 50%;
  }

  &-hover {
    background-color: rgba(0, 0, 0, .3);
    // transition: opacity 1s ease-in-out;
    opacity: 0;
    color: #fff;
  }

  &-img {
    height: 264px;
    // height: 150px;

    &:hover > .instagram-hover { opacity: 1 }
  }

  &-name {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  &-btn {
    background-color: #fff;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    min-width: 200px;
    padding: 8px 10px;
    text-align: center;
  }
}

// Video Responsive
// ==========================================================================
.video-responsive {
  display: block;
  height: 0;
  overflow: hidden;
  padding: 0 0 56.25%;
  position: relative;
  width: 100%;

  iframe {
    border: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  video {
    border: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

// zindex for image zoom
.medium-zoom-overlay { z-index: 50 }
.medium-zoom-image--opened { z-index: 51 }
