.u-colorInherit { color: inherit }

.u-primaryColor,
.u-colorHoverPrimary:hover { color: $primary-color }

// zindex
.zindex1 { z-index: 1 }
.zindex2 { z-index: 2 }
.zindex3 { z-index: 3 }
.zindex4 { z-index: 4 }

// border-radius
.u-round { border-radius: 50% }

// font size
.u-fontSizeMicro { font-size: 11px }
.u-fontSizeSmallest { font-size: 12px }
.u-fontSize13 { font-size: 13px }
.u-fontSizeSmaller { font-size: 14px }
.u-fontSize15 { font-size: 15px }
.u-fontSizeSmall { font-size: 16px }
.u-fontSizeBase { font-size: 18px }
.u-fontSize20 { font-size: 20px }
.u-fontSize22 { font-size: 22px }
.u-fontSizeLarge { font-size: 24px }
.u-fontSize28 { font-size: 28px }
.u-fontSizeLarger { font-size: 32px }
.u-fontSize36 { font-size: 36px }
.u-fontSize40 { font-size: 40px }
.u-fontSizeLargest { font-size: 44px }
.u-fontSizeJumbo { font-size: 50px }

// Clear
.u-clear::after {
  display: table;
  clear: both;
  content: "";
}

.u-image {
  @extend %u-image;
}

.u-unstyled { list-style-type: none }

.u-pointer { cursor: pointer }

// font weight
.u-fontWeightThin { font-weight: 300 }
.u-fontWeightNormal { font-weight: 400 }
.u-fontWeightMedium { font-weight: 500 }
.u-fontWeightBold { font-weight: 700 }
// .u-fontWeightBold { font-weight: 900 }

// line-height
.u-lineHeight1 { line-height: 1 }
.u-lineHeightTight { line-height: 1.2 }

.u-textUppercase { text-transform: uppercase }
.u-textCapitalize { text-transform: capitalize }
.u-textAlignCenter { text-align: center }
.u-block { display: block !important }
.u-inlineBlock { display: inline-block }

// Margin
.u-marginAuto {
  margin-right: auto;
  margin-left: auto;
}

.u-marginTop20 { margin-top: 20px }
.u-marginTop15 { margin-top: 15px }
.u-marginTop30 { margin-top: 30px }

.u-marginBottom10 { margin-bottom: 10px }
.u-marginBottom15 { margin-bottom: 15px }
.u-marginBottom20 { margin-bottom: 20px }
.u-marginBottom30 { margin-bottom: 30px }
.u-marginBottom40 { margin-bottom: 40px }

// padding
.u-padding0 { padding: 0 !important }

.u-paddingTop10 { padding-top: 10px }
.u-paddingTop15 { padding-top: 15px }
.u-paddingTop20 { padding-top: 20px }
.u-paddingTop30 { padding-top: 30px }

.u-paddingBottom30 { padding-bottom: 30px }
.u-paddingBottom20 { padding-bottom: 20px }
.u-paddingBottom15 { padding-bottom: 15px }

// with
.u-sizeFullWidth { width: 100%; }

// Positions
.u-fixed { position: fixed !important }
.u-relative { position: relative }
.u-absolute { position: absolute }
.u-absolute0 { @extend %u-absolute0; }

// Float
.u-floatRight { float: right; }
.u-floatLeft { float: left; }

.u-hide { display: none !important }

// Gradients
.gradient-text { @extend %gradient-text; }

.gradient-text--primary {
  @extend %gradient-text--primary;
  @extend %gradient-text;
}

//  flex
.u-flex { @extend %flex }

.u-flexCenter {
  @extend %flex-align-items-center;
}

.u-flex-1 { @extend %flex--1; }

.u-flex1 { flex: 1 1 auto }
.u-flex0 { flex: 0 0 auto }
.u-flexWrap { flex-wrap: wrap }

.u-flexColumnCenter {
  @extend %flex-direction-column-justify-content-start;
  @extend %flex-justify-content-center;
}

.u-flexColumnTop {
  @extend %flex-direction-column-justify-content-start;
}

.justify-content-between { justify-content: space-between; }

.u-flexEnd {
  // align-items: center;
  justify-content: flex-end;
}

@media #{$md-and-down} { .u-hide-before-md { display: none !important } }

@media #{$lg-and-down} { .u-hide-before-lg { display: none !important } }

// hide after
@media #{$md-and-up} { .u-hide-after-md { display: none !important } }

@media #{$lg-and-up} { .u-hide-after-lg { display: none !important } }
