<aside class="rimary-sidebar sidebar u-flexColumnTop">
    <div class="sticky-top-wrap u-flex-1 u-flexColumnTop">
        <div class="sticky">
            {{> "widget/instagram-feed"}}
        </div>
    </div>
</aside>