<aside class="rimary-sidebar sidebar sticky-parent">
    <div class="sticky-bottom-wrap">
        <div class="sticky">
            {{!-- subscribe box - partials/widget/subscribe-sidebar.hbs --}}
            {{> "widget/subscribe-sidebar"}}
        </div>
    </div>
</aside>