.author {
    color: #333;
    text-align: center;

  &-wrap { padding: 40px 0 }

  a {
    color: inherit;
    &:hover { color: $primary-color }
  }

  &-avatar { max-width: 150px }

  &-name {
    line-height: .9;
    color: #000;
    font-size: 4rem;
  }

  &-bio { margin: 40px 0 20px }

  .button { padding: 10px 15px  }

  // &-social a {
  //   margin-right: 10px;
  //   border: 1px solid #000;
  //   padding: 10px;
  //   color: #000;
  //   display: inline-block;

  //   &:hover { border-color: $primary-color }
  // }

  &-meta > * {
    margin-right: 10px;
    // font-style: italic;
  }

  &.has-cover {
    color: #fff;
    background-color: #777;
    min-height: 500px;

    .author-name { color: #fff }

    .button {
      color: #f1f1f1;
      border-color: #f1f1f1;

      // &:hover {
      //   color: $primary-color;
      //   border-color: $primary-color;
      // }
    }
  }
}

@media #{$lg-and-down} {
  .author .rimay-content {
    width: 90%;
    max-width: 100%;
    margin-right: 5%;
  }
}


@media #{$md-and-down} {
  .author-avatar { max-width: 130px  }
  .author-name { font-size: 3rem; }
}
