.article {
  margin: 0;
  padding: 0 0 30px;
  border-top: 2px solid #f1f1f1;
  position: relative;

  // title
  &-title {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: -0.02em;
    line-height: 1.1;
    padding-top: 20px;
  }

  // Meta
  &-meta {
    justify-content: space-between;
    margin: 25px 0;
  }

  // Byline
  &-byline {
    a {
      font-size: 1.125rem;
      font-weight: 600;
      color: #333;
      line-height: 20px;
    }
  }

  &-divider {
    padding-left: 5px;
    padding-right: 5px;
  }

  // Image
  &-media {
    margin: auto;
    display: block;
    //
    width: 125%;
    max-width: 125%;
    margin-left: -12.5%;

    img { width: 100% }
  }
}

// backaground in the footer page
.article-shadow::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 105vw;
  left: -10%;
  height: 500px;
  max-height: 70vh;
  bottom: 0;
  background-image: linear-gradient(0deg,#f0f0f0,#fff);
}

// Article Inner
// ==========================================================================
.article-inner {
  @extend %flex;
  @extend %flex-direction-column;
  @extend %flex-align-items-center;

  font-weight: 400;
  color: #333;
  letter-spacing: -.1px;
  margin: 20px 0;
  // font-size: 21px;
  font-size: 1.125rem;
  line-height: 1.6;

  & > * {
    margin-top: 26px;
    min-width: 100%;
  }

  p:first-child { margin-top: 0 }

  // p { margin-bottom: 0 }

  a {
    border-bottom: 1px solid #f1f1f1;
    color: $primary-color;

    &:hover { border-bottom-color: $primary-color }
  }

  h1, h2, h3, h4, h5, h6 {
    // margin: .75em 0;

    & + p { margin-top: 0.625rem }
  }

  // UL and OL
  ul,
  ol {
    counter-reset: post;
    list-style-type: none;
    padding-left: 0;

    li {
      margin-left: 25px;

      &::before {
        box-sizing: border-box;
        display: inline-block;
        margin-left: -22px;
        position: absolute;
        text-align: right;
      }
    }
  }

  ul > li::before {
    // color: $primary-color;
    content: "\2022";
    transform: scale(1.1);
  }

  ol > li::before {
    content: counter(post) ".";
    counter-increment: post;
    color: $primary-color-gray;
    padding-right: 12px;
  }

}

// Clases for box of ghost
// ==========================================================================
.kg-gallery {
  &-container {
    @extend %flex;
    @extend %flex-direction-column;
    // display: flex;
    // flex-direction: column;
    // max-width: 1000px;
    // width: 100vw;
  }

  &-row {
    @extend %flex;
    @extend %flex-direction-row;
    @extend %flex-justify-content-center;
    // display: flex;
    // flex-direction: row;
    // justify-content: center;

    &:not(:first-of-type) { margin: 0.75em 0 0 0 }
  }

  &-image {
    img {
      display: block;
      margin: 0;
      width: 100%;
      height: 100%;
    }

    &:not(:first-of-type) { margin: 0 0 0 0.75em }
  }
}

// .kg-code-card pre { margin-top: 0 }

// stylelint-disable-next-line
.kg-embed-card, .kg-gallery-container {
  @extend %flex;
  @extend %flex-direction-column;
}

// stylelint-disable-next-line
.kg-embed-card {
  @extend %flex-align-items-center;
  max-width: 100%;
}

.kg-gallery,
.kg-width-wide,
.kg-width-full {
  width: 125%;
  max-width: 125%;
}

// Article Footer
// ==========================================================================


// Article Tags or Topic
// ==========================================================================
.article-tags {
  &-wrap  {
    font-size: 1rem;
    width: 300px;
    max-width: 300px;
    line-height: 1.5;
  }

  .menu-item {
    width: 50%;
    margin: .3em 0;
    position: relative;
    float: left;
  }
}

// Image Post Format
// ==========================================================================
.pif {
  max-height: 500px;
  min-height: 400px;
  height: 100vh;
  background-color: #333;
  color: #fff;

  &-bg { background-color: rgba(0,0,0,.65) }
  .article-byline-author { color: #fff }
  .rimay-content { height: 100%; }
  .u-meta-time, .u-meta { color: #999 }

  .article {
    border: none;
    height: 100%;

    &-header {
      flex-direction: column;
      justify-content: space-between;
    }
  }

}

// Breakpoints
// ==========================================================================
@media #{$md-and-down} {
  .article-footer { margin: 0 }

  .social-share {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;

    a {
      flex-basis: 20%;
      height: 32px;
    }
  }

.kg-gallery,
.kg-width-wide,
.kg-width-full {
  // width: 125%;
  // max-width: 125%;
  max-width: 1000px;
  width: 100vw;

  figcaption { margin-left: 10px }
}

}


@media #{$md-and-up} {
  .article {
    padding: 0 10% 30px;

    &-title {
      font-size: 3rem;
      margin-right: 0;
    }

    &-footer { border-bottom: 1px solid #ddd }
    &-inner { font-size: 1.1875rem }
  }
}

@media #{$lg-and-up} {
  .article {
    &::before {
      left: -210px;
      width: 100vw;
    }
  }

  .pif {
    max-height: inherit;
    min-height: 600px;
    height: 98vh;
  }
}

@media #{$xl-and-up} {
  .article {
    &::before {
      left: -250px;
      width: 100vw;
    }

    &-inner { font-size: 1.375rem }
  }

  .pif {
    .article-title { font-size: 4rem; padding-top: 30px }
    .article-excerpt { font-size: 1.75rem }
  }
}
