/* Article
/* ---------------------------------------------------------- */

.article {
  margin: 0;
  padding: 0 0 30px;
  // border-top: 2px solid #f1f1f1;
  position: relative;

  // title
  &-title {
    font-size: 2rem;
    font-weight: 900;
    // letter-spacing: -0.02em;
    line-height: 1.1;
  }

  // Meta
  &-meta {
    justify-content: space-between;
    margin: 25px 0;
  }

  // Byline
  &-byline {
    &-author { color: $primary-text-color }
    a:hover { color: $primary-color }
  }

  &-divider {
    padding-left: 2px;
    padding-right: 2px;
  }

  // Image
  &-media {
    margin: auto;
    display: block;
    //
    width: 125%;
    max-width: 125%;
    margin-left: -12.5%;

    // img { width: 100% }
  }
}

/* Article backaground in the footer
/* ---------------------------------------------------------- */

.article-shadow::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 105vw;
  left: -10%;
  height: 500px;
  max-height: 70vh;
  bottom: 0;
  background-image: linear-gradient(0deg, #f0f0f0, #fff);
}

/* Article Inner
/* ---------------------------------------------------------- */

.article-inner {
  @extend %flex;
  @extend %flex-direction-column-justify-content-start;
  @extend %flex-align-items-center;

  font-weight: 400;
  color: $primary-text-color;
  letter-spacing: -.1px;
  margin: 0 0 20px 0;
  // font-size: 21px;
  font-size: 18px;
  line-height: 1.6em;
  padding-top: 1.875rem;

  & > * {
    // margin: 1.5rem 0;
    // min-width: 100%;
    margin: 0 0 2rem;
    min-width: 100%;
  }

  // p:first-child { margin-top: 0 }

  p { margin-bottom: 2rem }

  a:not(.kg-bookmark-container) {
    border-bottom: 1px solid #f1f1f1;
    // color: $primary-color;
    color: #007db5;

    &:hover {
      @extend %gradient-text;
      @extend %gradient-text--primary;

      border-bottom-color: $primary-color;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin: .5em 0 .4em;

    // & + p { margin-top: 0 }
  }

  figure {
    margin: .2em 0 1.5em;
  }

  // UL and OL
  ul,
  ol {
    counter-reset: post;
    list-style-type: none;
    padding-left: 0;

    li {
      margin-left: 25px;

      &::before {
        box-sizing: border-box;
        display: inline-block;
        margin-left: -22px;
        position: absolute;
        text-align: right;
      }
    }
  }

  ul > li::before {
    // color: $primary-color;
    content: "\2022";
    transform: scale(1.1);
  }

  ol > li::before {
    content: counter(post) ".";
    counter-increment: post;
    color: $primary-color-gray;
    padding-right: 12px;
  }
}

/* Article Footer
/* ---------------------------------------------------------- */

.article-footer {
  margin: 40px auto;
}

/* Article Tags or Topic
/* ---------------------------------------------------------- */

.article-tags {
  @extend %primary-font;

  &-content {
    font-size: 17px;
    width: 300px;
    max-width: 300px;
    line-height: 1.5;
    padding: 0;
  }

  &-item {
    width: 50%;
    margin: .3em 0;
    position: relative;
    float: left;
  }
}

/* Code Card
/* ---------------------------------------------------------- */

.kg-code-card {
  width: 100%;
}

/* Breakpoints
/* ---------------------------------------------------------- */

@media #{$md-and-up} {
  .article {
    padding: 0 10% 30px;

    &-title {
      font-size: 45px;
      margin-right: 0;
    }

    &-footer { border-bottom: 1px solid #ddd }
    &-inner { font-size: 20px }
  }
}

@media #{$lg-and-up} {
  .article {
    &::before {
      left: -210px;
      width: 100vw;
    }
  }
}

@media #{$xl-and-up} {
  .article {
    &::before {
      left: -250px;
      width: 100vw;
    }

    &-inner { font-size: 22px }
  }
}
