/* Image Post Format
/* ---------------------------------------------------------- */

.pif {
  max-height: 500px;
  min-height: 400px;
  height: 100vh;
  background-color: #333;
  color: #fff;

  &-bg { background-color: rgba(0, 0, 0, .65) }
  .article-byline-author { color: #fff }
  .rimay-content { height: 100%; }
  .u-meta-time, .u-meta { color: #999 }

  .article {
    border: none;
    height: 100%;

    &-header {
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

@media #{$lg-and-up} {
  .pif {
    max-height: inherit;
    min-height: 600px;
    height: 98vh;
  }
}

@media #{$xl-and-up} {
  .pif {
    .article-title { font-size: 4rem }
    .article-excerpt { font-size: 1.75rem }
  }
}
