// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// color
$primary-color: #00a562;

// fonts
$primary-font: 'Source Sans Pro', sans-serif;
$secundary-font: Helvetica Neue, Helvetica, Arial, sans-serif;

// Media Query Ranges
// ==========================================================================
$sm: 640px;
$md: 700px;
$lg: 1100px;
$xl: 1440px;

$sm-and-up: 'only screen and (min-width : #{$sm})';
$md-and-up: 'only screen and (min-width : #{$md})';
$lg-and-up: 'only screen and (min-width : #{$lg})';
$xl-and-up: 'only screen and (min-width : #{$xl})';

$sm-and-down: 'only screen and (max-width : #{$sm})';
$md-and-down: 'only screen and (max-width : #{$md})';
$lg-and-down: 'only screen and (max-width : #{$lg})';
