// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// color
// $primary-color: #00a562;
$primary-color: #00854F;
$primary-color-gray: #757575;

$color-share: #04a763 #20b66d #34c174 #1ec942 #08d013;

// social colors
$social-colors: (
  facebook:   #3b5998,
  twitter:    #55acee,
  // google:     #dd4b39,
  // instagram:  #306088,
  // youtube:    #e52d27,
  // github:     #555,
  linkedin:   #007bb6,
  // spotify:    #2ebd59,
  // codepen:    #222,
  // behance:    #131418,
  // dribbble:   #ea4c89,
  // flickr:     #0063dc,
  reddit:     #ff4500,
  // pocket:     #f50057,
  // pinterest:  #bd081c,
  whatsapp:   #64d448,
  // telegram:   #08c,
  // rss:          orange,
);

// fonts
$primary-font: 'Rubik', sans-serif;
$secundary-font: Helvetica Neue, Helvetica, Arial, sans-serif;

/* Typography
/* ---------------------------------------------------------- */
$font-size-root:  16px;

$font-size-h1:    2.375rem;
$font-size-h2:    2.125rem;
$font-size-h3:    1.875rem;
$font-size-h4:    1.625rem;
$font-size-h5:    1.5rem;
$font-size-h6:    1.25rem;

$font-size-md-h1:    2rem;
$font-size-md-h2:    1.8rem;
$font-size-md-h3:    1.6rem;
$font-size-md-h4:    1.4rem;
$font-size-md-h5:    1.3rem;
$font-size-md-h6:    1.2rem;

$headings-font-family:     $primary-font;
$headings-font-weight:     700;
$headings-line-height:     1.1;

// Header
// ==========================================================================
$header-mobile-height: 50px;

// Footer
$footer-color: #6E6E6E;

// Wrap
// ==========================================================================
$container-gutter-width: 20px;

// Media Query Ranges
// ==========================================================================
$sm: 450px;
$md: 800px;
$lg: 1100px;
$xl: 1440px;

$sm-and-up: 'only screen and (min-width : #{$sm})';
$md-and-up: 'only screen and (min-width : #{$md})';
$lg-and-up: 'only screen and (min-width : #{$lg})';
$xl-and-up: 'only screen and (min-width : #{$xl})';

$sm-and-down: 'only screen and (max-width : #{$sm})';
$md-and-down: 'only screen and (max-width : #{$md})';
$lg-and-down: 'only screen and (max-width : #{$lg})';
