.comments {
  z-index: 50;
  width: 100%;
  overflow-y: auto;
  background: #fff;
  border-left: 2px solid #ddd;
  transform: translateX(100%);
  transition: .4s;

  &-body {
    padding: 15px;

    a { color: $primary-color; }
  }

  &-header {
    padding: 1em 1.25em;
    border-bottom: 2px solid #ddd;
  }
}

body.has-comments {
  overflow: hidden;

  .comments {
    transform: translateX(0)
  }
}
