.comments {
  width: 100%;
  border-top: 2px solid #ddd;
  padding-top: 30px;

  // &-header {
  //   padding: 1em 1.25em;
  //   border-bottom: 1px solid #ddd;
  // }
}

// body.has-comments .comments {
//   transform: translateX(0)
// }
