.comments {
  z-index: 50;
  width: 100%;
  overflow-y: auto;
  background: #fff;
  border-left: 1px solid #f1f1f1;
  transform: translateX(100%);
  transition: .4s;

  &-header {
    padding: 1em 1.25em;
    border-bottom: 1px solid #ddd;
  }
}

body.has-comments .comments {
  transform: translateX(0)
}
