.footer {
  background-color: $footer-bg-color;
  line-height: 2.25rem;
  margin-left: 5%;
  margin-top: 30px;
  padding: 20px 0;
  width: 90%;

  a:hover { border-bottom-color: $footer-color }

  .mainMenu a {
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
  }

  &-copy {
    font-size: 14px;
    color: $footer-color;

    // stylelint-disable-next-line
    a { color: inherit }
  }

  .icon--heart {
    animation-name: pulse;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
}

@keyframes pulse {
  from { transform: scale3d(1, 1, 1); }
  50% { transform: scale3d(1.2, 1.2, 1.2); }
  to { transform: scale3d(1, 1, 1); }
}

@media #{$sm-and-up} {
  .footer .mainMenu li {
    display: inline-block;
    padding-right: 20px;
  }
}

@media #{$lg-and-up} {
  .footer {
    width: 100vw;
    margin-left: 0;
    padding: 25px 0 18px;
  }

  .footer-wrap {
    margin-left: 210px;
  }
}

@media #{$xl-and-up} {
  .footer-wrap {
    max-width: 1200px;
    margin-left: 250px;
  }
}
