.rimay-paway
{
    display: flex;
    justify-content: space-between;
}

.rimay-paway-left
{
    margin-top: 1em;
    margin-bottom: 1em;
    padding-right: 2%;
    padding-bottom: 10px;

    transition: opacity .15s linear;

    opacity: 1;
    border-bottom: 1px solid #ddd;
}

.rimay-paway-right
{
    margin-top: 1em;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: .875em;
    padding-left: 0;

    border-bottom: 4px solid #ddd;
}

@media #{$md-and-up}
{
    .rimay-paway-left
    {
        padding-bottom: 0;

        border-bottom: 0;
    }

    .rimay-paway-right
    {
        flex-basis: 32%;

        margin-right: 0;
        margin-left: 0;
        padding-bottom: 0;

        border-bottom: none;
    }
}

@media #{$lg-and-up}
{
    .rimay-paway-left
    {
        flex-basis: 65%;
    }
    .rimay-paway-right
    {
        flex-basis: 34%;
    }
}

@media #{$xl-and-up}
{
    .rimay-paway-left
    {
        flex-basis: 63%;
    }
    .rimay-paway-right
    {
        flex-basis: 35%;
    }
}
