// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.nav {
  background-color: #fff;
  // overflow-y: auto;
  overflow: hidden;
  padding: 0 20px;
  word-wrap: break-word;
  z-index: 30;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.logo { @extend %primary-font; }

// Header nav
.nav-header {
  background-color: #fff;
  height: $header-mobile-height;
  justify-content: space-between;

  &--right > * {
    padding: 10px;
  }
}

// navigation
.mainMenu {
  font-size: 1.125rem;
  line-height: 1.1;
  word-wrap: break-word;
  hyphens: auto;
  color: #777;
  margin-bottom: 30px;
  font-weight: 600;

  a:hover { border-bottom-color: transparent; }

  .menu-item { padding: 0.3em 0 }
}

// Social Media
.nav .social-media {
  border-bottom: 1px solid hsla(0,0%,100%,.15);
  margin: 0 -20px 2em;
  padding: 0 20px 20px;

  span:not(.icon) {
    display: none;
  }
}

// Menu - Toggle
.nav-menu-toggle {
  height: 48px;
  margin-right: -20px;
  position: relative;
  transition: transform .4s;
  width: 48px;

  span {
    background-color: $primary-color;
    display: block;
    height: 2px;
    left: 14px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    transition: .4s;
    width: 20px;

    &:first-child { transform: translate(0, -6px); }
    &:last-child { transform: translate(0, 6px); }
  }
}

// breakpoints lg down 1100
// ==========================================================================
@media #{$lg-and-down} {
  .header {
    position: sticky;
    top: 0;
    z-index: 20;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
  }

  .nav-body {
    width: 290px;
    transform: translateX(100%);
    transition: .4s;
    padding: $header-mobile-height 20px 20px;
    position: fixed;
    background: #fff;
    top: 0;
    right: 0;
    bottom: 0;
  }

  // page has menu
  body.has-menu {
    overflow: hidden;

    .nav-body { transform: translateX(0) }

    .nav-menu-toggle {
      border: 0;
      transform: rotate(90deg);
      z-index: 10;

      span:first-child { transform: rotate(45deg) translate(0, 0); }
      span:nth-child(2) { transform: scaleX(0); }
      span:last-child { transform: rotate(-45deg) translate(0, 0); }
    }
  }
}

// breakpoints md up 700
// ==========================================================================
@media #{$md-and-up} {
  .mainMenu {
    font-weight: 400;
    font-size: 20px;

    a {
      color: inherit;
      text-decoration: none;
      &:hover { color: $primary-color }
    }

    .menu-item { padding: .2em 0 }
  }
}

// breakpoints md down 700
// ==========================================================================
@media #{$md-and-down} {
  .nav-body {
    color: #fff;
    width: 100vw;
    height: 100vh;
    left: 0;
    background: linear-gradient(331deg,#00d301,#36c275 50%,#00a562);
  }

  .mainMenu {
    color: #fff;
    font-size: 1.25rem;
  }

  // nav
  .nav-body-wrap {
    overflow: auto;
    border-top: 1px solid hsla(0,0%,100%,.15);
    bottom: 0;
    left: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 48px;
  }

  // Social Media
  .nav .social-media .icon { color: #fff !important }

  // page has menu
  body.has-menu {
    .nav-header { background-color: transparent }
    .menu-topics { color: #fff }
    .nav-menu-toggle span { background-color: #fff }
  }
}

// breakpoints lg UP 1100
// ==========================================================================
@media #{$lg-and-up} {
  .nav {
    padding-left: 30px;
    padding-top: 30px;
    background: 0 0;
    top: 0;
    left: 0;
    width: 210px;
    height: calc(100% - 40px);
    position: fixed;
    z-index: 30;

    &-header { background-color: transparent }
    &-body { margin: 30px 0 }
  }
}

@media screen and (min-width:1100px) and (min-height:700px) {
  .mainMenu { font-size: 2.57vh !important }
}
