/* Logo
/* ---------------------------------------------------------- */

.logo {
  @extend %primary-font;

  position: relative;
  z-index: 10;

  &-wrap {
    width: 100px;

    svg {
      height: 100%;
      width: 100%;
    }
  }
}

/* Styles fo the Header
/* ---------------------------------------------------------- */

.header {
  &-wrap {
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 20px;
    word-wrap: break-word;
    z-index: 30;
  }

  // Header Top
  &-top {
    // height: $header-mobile-height;
    justify-content: space-between;
  }
}

/* Header nav
/* ---------------------------------------------------------- */

.mainMenu { padding: 0; }

.header .mainMenu {
  color: $secondary-text-color;
  font-size: 20px;
  font-weight: 400;
  hyphens: auto;
  line-height: 1.1;
  margin: 15px 0;
  padding: 0;
  word-wrap: break-word;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $primary-color;
      border-bottom: 1px solid transparent;
    }
  }

  .menu-item { padding: 0.3em 0 }
}

/* Toggle menu
/* ---------------------------------------------------------- */

.menu-toggle {
  height: 48px;
  margin-right: -20px;
  position: relative;
  transition: transform .4s;
  width: 48px;

  span {
    background-color: $primary-color;
    display: block;
    height: 2px;
    left: 14px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    transition: .4s;
    width: 20px;

    &:first-child { transform: translate(0, -6px); }
    &:last-child { transform: translate(0, 6px); }
  }
}

/* Social Media
/* ---------------------------------------------------------- */

.social-media {
  padding: 0;

  li {
    @extend %flex-align-items-center;

    padding: 2px 0;
    font-size: 15px;
  }

  &-link {
    color: #000;
    text-transform: capitalize;
    border: none;

    &:hover {
      color: #6E6E6E;
    }
  }
}

// search
.search-field { color: $primary-color; }

/* breakpoints LG down 1100
/* ---------------------------------------------------------- */

@media #{$lg-and-down} {
  .header {
    position: sticky;
    top: 0;
    z-index: 20;
    // box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
  }

  .header-body {
    width: 290px;
    transform: translateX(100%);
    transition: .4s;
    padding: $header-mobile-height 20px 20px;
    position: fixed;
    background: #fff;
    top: 0;
    right: 0;
    bottom: 0;
  }

  // page has menu
  body.has-menu {
    overflow: hidden;

    .header-body { transform: translateX(0) }

    .menu-toggle {
      border: 0;
      transform: rotate(90deg);
      z-index: 10;

      span:first-child { transform: rotate(45deg) translate(0, 0); }
      span:nth-child(2) { transform: scaleX(0); }
      span:last-child { transform: rotate(-45deg) translate(0, 0); }
    }
  }
}

/* breakpoints md down 700
/* ---------------------------------------------------------- */

@media #{$md-and-down} {
  .header-body {
    width: 100vw !important;
    height: 100vh;
    // left: 0;
  }

  .header-wrap {
    height: $header-mobile-height;
    justify-content: center;
  }
}

/* breakpoints lg UP 1100
/* ---------------------------------------------------------- */

@media #{$lg-and-up} {
  .header-wrap {
    padding-left: 30px;
    padding-top: 30px;
    background: 0 0;
    top: 0;
    left: 0;
    width: 210px;
    height: calc(100% - 40px);
    position: fixed;
    z-index: 30;

    &-header { background-color: transparent }
    &-body { margin: 30px 0 0 0; overflow-y: auto }
  }

  .header-top {
    display: block;
    // flex-direction: column;
    // align-items: flex-start;
    // justify-content: flex-start;
  }

  // .nav-header--right { margin-top: 30px; }
  .search-field { color: $secondary-text-color; margin-top: 20px; }

  .logo-wrap { width: 150px }
}

@media #{$xl-and-up} {
  .header-wrap { width: 250px }
}
