.sticky {
  position: sticky;
  top: 30px;
}

.sticky-bottom-wrap {
  .sticky {
    // position: sticky;
    top: auto;
    bottom: 30px;
  }
}


@media #{$md-and-up} {
  .sidebar {
    width: 300px;
    margin: 0 20px 0 30px;
    padding-top: 10px;
    position: relative;
    z-index: 10;
  }
}
