.content-wrap
{
    // display: flex;
    // flex-direction: column;
    position: relative;

    margin-right: auto;
    //
    margin-left: 0;

    @extend %flex;
    @extend %flex-direction-column;

    @media #{$md-and-up}
    {
        flex-direction: row;
    }
}

// content
.content
{
    position: relative;

    width: 90%;
    min-height: 80%;
    margin-left: 5%;

    @media #{$md-and-up}
    {
        flex: 0 1 auto;

        max-width: calc(100vw - 380px);
        margin-left: 30px;
    }

    @media #{$lg-and-up}
    {
        width: calc(100vw - 210px - 360px);
        margin-top: 0;
        margin-left: 210px;
    }

    @media #{$xl-and-up}
    {
        width: calc(100vw - 250px - 360px);
        max-width: 1390px;
        margin-left: 250px;
    }
}
