/* Rimay class for all wrapper
/* ---------------------------------------------------------- */
.rimay {
  // Wrap
  &-wrap {
    @extend %flex-direction-column-justify-content-start;

    position: relative;
    margin-right: auto;
  }

  // content
  &-content {
    width: 90%;
    margin-left: 5%;
    // padding-left: $container-gutter-width;
    // padding-right: $container-gutter-width;
    min-height: 80%;
    position: relative;
  }
}

/* Rimay Home Top Wrapper
/* ---------------------------------------------------------- */
.rimay-paway {
  &-left {
    border-bottom: 1px solid #ddd;
    margin: 1em  0;
    padding-bottom: 10px;
  }

  &-right {
    padding-bottom: 1rem;
    border-bottom: 4px solid #ddd;
    margin: 1em 0;
  }
}

/* Wrapper for story
/* ---------------------------------------------------------- */
.story-feed {
  position: relative;
  min-height: 200px
}

/* Breakpoints Media Queries
/* ---------------------------------------------------------- */

@media #{$sm-and-up} {
  .rimay-paway-right {
    padding-bottom: 0;
    border-bottom: none;
    margin-left: 0;
    margin-right: 0;
  }

  .comments {
    left: auto !important;
    width: 470px !important;
  }
}

@media #{$md-and-up} {
  .rimay {
    &-wrap { flex-direction: row }

    &-content {
      flex: 0 1 auto;
      margin-left: 20px;
      max-width: calc(100vw - 380px);
    }

    &-paway {
      max-width: none;
      width: calc(100vw - 40px);
    }
  }

  .sidebar {
    width: 300px;
    margin: 0 20px 0 30px;
    padding-top: 10px;
    position: relative;
    z-index: 10;
  }
}

@media #{$lg-and-up} {
  .rimay-content {
    margin-left: 210px;
    width: calc(100vw - 210px - 360px);
    margin-top: 0;
  }

  .rimay-paway { width: calc(100vw - 210px - 20px) }
}

@media #{$xl-and-up} {
  .rimay-content {
    margin-left: 250px;
    width: calc(100vw - 250px - 360px);
    max-width: 1390px;
  }

  .rimay-paway { width: calc(100vw - 210px - 5%) }
}

// @media screen and (min-width:1100px) and (min-height:700px) {

// }

@media #{$md-and-up} {
  .rimay-paway {
    &-content {
      display: flex;
      justify-content: space-between;
    }

    &-left {
      flex-basis: 55%;
      border-bottom: 0;
      padding-bottom: 0;
      padding-right: 2%;
    }

    &-right { flex-basis: 43% }
  }
}

// @media (min-width: 950px), screen and (min-width: 650px) and (max-width: 910px) {
//   .rimay-paway-content {
//     display: flex;
//     justify-content: space-between;

//     &-left {
//       flex-basis: 65%;
//       border-bottom: 0;
//       padding-bottom: 0;
//       padding-right: 2%;
//     }

//     &-right { flex-basis: 32% }
//   }
// }
