<div class="amp-ad u-textAlignCenter">
    <amp-ad width="300" height="250"
        type="adsense"
        data-ad-client="ca-pub-3462564966072994"
        data-ad-slot="4492933224">
    </amp-ad>
</div>
