{{#get "posts" limit="3" filter="featured:true" include="tags" as |post_featured_home|}}
{{#if post_featured_home}}

<div class="rimay-paway-right">
    {{#foreach post_featured_home}}
        <article class="mini-post">
            <h3 class="mini-post-title u-lineHeight1 u-fontWeightBold u-fontSize20">
                <a href="{{url}}" class="u-colorInherit u-block">{{title}}</a>
            </h3>

            {{!-- Meta {primary tag} partiasl/helper/meta-meta.hbs --}}
            {{> "helper/helper-meta"}}
        </article>
    {{/foreach}}
</div>

{{/if}}
{{/get}}